<ng-include src="'common/main-header.html'"></ng-include>
	<!-- Page Content -->
	<div class="container">

		<div class="row margin-top-thirty">
			<div class="col-lg-9 col-md-9 bg-white">
				<!-- Team Members -->
				<br>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="images/upcoming-events1.jpg"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 1</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="images/events_banner1.jpg"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 2</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="images/calendar-events1.jpg"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 3</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 4</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 5</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 6</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 7</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 8</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="thumbnail">
							<img class="img-responsive" src="http://placehold.it/750x450"
								alt="">
							<div class="caption">
								<a href="view_event_page.html">View Event 9</a>
							</div>
						</div>
					</div>

				</div>
				<!-- /.row -->
			</div>

<!-- Right Side Box start here -->
			<div class="col-lg-3 col-md-4">
				<div class="row">
					<div class="col-md-12 col-lg-12 text-left">
						<div class="panel panel-default">
							<div class="panel-heading">People You May Know</div>
							<div class="panel-body user-list">
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<hr>
								<a href="#" class="pull-right">See More...</a>
							</div>
						</div>

					</div>
					<div class="col-md-12 col-lg-12 text-left">
						<div class="panel panel-default">
							<div class="panel-heading">Events your friends attending</div>
							<div class="panel-body user-list">
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<div class="caption row">
									<div class="col-md-4 col-sm-3">
										<img class="img-square bg-photo" src="images/photo.png" alt="User Pic">
									</div>
									<div class="col-md-8 col-sm-8 margin-top-five">
										<a href="#">Luis Felipe Kaufmann</a> <br> <small>Job
											Title</small>
									</div>
								</div>
								<hr>
								<a href="#" class="pull-right">See More...</a>
							</div>

						</div>

					</div>

				</div>
			</div>

		</div>
	</div>


